# ===============================
# CodeIgniter 3 - Projeto Dockerizado
# ===============================

# 🧠 Diretórios de cache, logs e sessões
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/sessions/*
!application/sessions/index.html

uploads/*
!uploads/index.html
tmp/
*.tmp

.env
.env.*
*.env
*.ini
*.local

/sql/*.bak
/sql/*.log
/sql/*.tmp

*.sql
*.pgsql
*.dump

/vendor/
composer.lock


docker-compose.override.yml
*.pid
*.seed
*.bak
*.swp
*.swo
*.orig
*.old

pg_data/
docker-entrypoint-initdb.d/
*.db


node_modules/
npm-debug.log
yarn-error.log
package-lock.json
dist/
build/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

*.log
*.cache
*.bak
*.old

.env.example
*.zip
*.tar.gz
